<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Danh sách sản phẩm</title>
  <link rel="stylesheet" href="/library/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/library/fontawesome/css/all.min.css">
  <script src="/library/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/fonts.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <h1 class="text-center">Trang chủ</h1>
      <img src="/images/ic_home.png" class="w-50 m-auto" alt="img">
    </div>
  </div>

</body>

</html>